.btn-power span {
    color: black;
}

.btn-power button {
    background: none;
    border-color: #ccc;
}

.option-display-control .fix-padding-right {
    padding-right: 0px;
}
.option-display-control .fix-padding-left-nhanvien
{
    padding-left:11px;
}
.option-display-control .fix-align-right{
    text-align:right;
    padding-right:0px
}
.option-display-control .fix-align-left{
    text-align:left;
    padding-left:0px
}
.cus-profiles {
    width:85%;
    /*display:flex;
    justify-content:center;
    align-items:center;*/
}
.cus-profiles .cus-panel-width-profiles{
    min-height: 100px;
}
.cus-profiles  th{
    background-color:burlywood;
}