@section script{

}


@{
    ViewBag.Title = "Sao lưu dữ liệu";
}




<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- /.col-lg-12 -->
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-heading">
                <h1 class="page-header">Tự động sao lưu dữ liệu</h1>
            </div>
            <div class="panel-body">
                <div class="panel-body class_new_add_align">
                    <div class="dataTable_wrapper scroll_fix_new">
                        <div class="row custom_style_fiel_new custom_style_input_lable">
                            <div class="margin_auto_center">
                                <div class="form-group">
                                    <label>Thêm file sao lưu</label>
                                    <input type="file">
                                </div>

                                <div class="form-group">
                                    <label>Thời gian chạy lặp lại số ngày</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>


                                </div>
                                <div class="form-group">
                                    <label>Lúc</label>
                                    <input class="form-control" type="date" name="bday" min="1980-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>
                                <div class="form-group">
                                    <label>Ngày bắt đầu</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label type="button" data-toggle="collapse" data-target="#ngay_ket_thuc">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Ngày kết thúc
                                    </label>

                                    <input class="form-control" type="date" name="bday" min="1980-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")">

                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Không kết thúc
                                    </label>
                                </div>
                                <div class="row button_width_full">
                                    <button type="button" class="btn btn-outline btn-primary">Sao lưu</button>
                                </div>
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12  col-md-6">
        <!-- /.col-lg-12 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="page-header">Tự động xóa sao lưu dữ liệu</h1>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body class_new_add_align">
                <div class="dataTable_wrapper scroll_fix_new">
                    <div class="row custom_style_fiel_new custom_style_input_lable">
                        <div class="margin_auto_center">
                            <div class="form-group">
                                <label>Thêm file sao lưu</label>
                                <input type="file">
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 padding_left_right_col">
                                <div class="form-group">
                                    <label>Thời gian chạy lặp lại số ngày</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </div>

                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 padding_left_right_col">
                                <div class="form-group">
                                    <label>Lúc</label>
                                    <input class="form-control" type="date" name="bday" min="1980-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 padding_left_right_col">
                                <div class="form-group">
                                    <label>Ngày bắt đầu</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </div>

                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-6 padding_left_right_col">
                                <div class="form-group">
                                    <label type="button" data-toggle="collapse" data-target="#ngay_ket_thuc">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Ngày kết thúc
                                    </label>

                                    <input class="form-control" type="date" name="bday" min="1980-01-01"  value="@DateTime.Now.ToString("yyyy-MM-dd")">

                                </div>
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-6 padding_left_right_col">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Không kết thúc
                                    </label>
                                </div>
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 padding_left_right_col">
                                <div class="form-group">
                                    <label>Xóa file trước sao lưu trước số ngày</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </div>

                            </div>
                            <div class="row button_width_full">
                                <button type="button" class="btn btn-outline btn-primary">Sao lưu</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
</div>


