<div id="modalAddEdit" class="modal fade width_popup_nv_tt" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <!--left-->
                <div class="col-sx-12 col-sm-12 col-md-7 margin_left_right_new_col margin_top_form_new">


                    <div class="col-sx-12 col-sm-12 col-md-6">
                        <label>Năm Kế hoạch <span>*</span></label>
                        <div class="col-sx-12 col-sm-12 col-md-11 padding_left_right_col_form_tt">
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Chọn năm kế hoạch</option>
                                <option value="25">2010</option>
                                <option value="50">2015</option>
                                <option value="100">2020</option>
                            </select>
                        </div>

                        <div class="col-sx-12 col-sm-12 col-md-1 margin_top_button_15"><button class="btn btn-outline btn-primary" type="button" title="Tìm"><span class="fa fa-search"></span></button></div>
                    </div>
                    <div class="col-sx-12 col-sm-12 col-md-12 ">
                        <table class="table table-str;iped table-bordered table-hover table_desktop">
                            <thead>
                                <tr class="bg_title_table_new sub_nn_pre">

                                    <th>Tên doanh nghiệp</th>
                                    <th>Loại TT</th>
                                    <th>Hình thức TT</th>
                                    <th class="text-center" style="width: 50px">
                                        Sửa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeA">
                                    <td>Doanh nghiệp A</td>
                                    <td>Loại hình A.1</td>
                                    <td>Hình thức T.1</td>
                                    <td class="text-center icon_fix_right_table"><button class="button_edit_new"><span class="fa fa-pencil"></span></button></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Doanh nghiệp B</td>
                                    <td>Loại hình A.2</td>
                                    <td>Hình thức T.2</td>
                                    <td class="text-center icon_fix_right_table"><button class="button_edit_new"><span class="fa fa-pencil"></span></button></td>
                                </tr>
                                <tr class="gradeA">
                                    <td>Doanh nghiệp C</td>
                                    <td>Loại hình A.3</td>
                                    <td>Hình thức T.3</td>
                                    <td class="text-center icon_fix_right_table"><button class="button_edit_new"><span class="fa fa-pencil"></span></button></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Doanh nghiệp D</td>
                                    <td>Loại hình A.4</td>
                                    <td>Hình thức T.4</td>
                                    <td class="text-center icon_fix_right_table"><button class="button_edit_new"><span class="fa fa-pencil"></span></button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <!--end left-->
                <!--right-->
                <div class="col-sx-12 col-sm-12 col-md-5 margin_top_form_new margin_left_right_new_col">
                    <div class="col-sx-12 col-sm-12 col-md-12">
                        <div class="col-sx-12 col-sm-12 col-md-12 ">
                            <label for="">Nội dung</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6">
                            <label for="">Từ ngày</label>
                            <input class="form-control date_custom_new" type="date" name="bday">
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6">
                            <label for="">Đến ngày</label>
                            <input class="form-control date_custom_new" type="date" name="bday">
                        </div>

                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Thu hồi tiền <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Thu hồi tiền</option>
                                <option value="25">10.000.000</option>
                                <option value="50">50.000.000</option>
                                <option value="100">100.000.000</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Thu hồi đất (m2) <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Thu hồi đất</option>
                                <option value="25">10</option>
                                <option value="50">20</option>
                                <option value="100">50</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Phạt tiền <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Phạt tiền</option>
                                <option value="25">10.000.000</option>
                                <option value="50">50.000.000</option>
                                <option value="100">100.000.000</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Tịch thu tiền <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Tịch thu tiền</option>
                                <option value="25">10.000.000</option>
                                <option value="50">50.000.000</option>
                                <option value="100">100.000.000</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-8">
                            <label>Ghi chú</label>
                            <input type="text" class="form-control" placeholder="Ghi chú">
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Tiêu hủy tiền <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Tiêu hủy tiền</option>
                                <option value="25">10.000.000</option>
                                <option value="50">50.000.000</option>
                                <option value="100">100.000.000</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-8">
                            <label>Ghi chú</label>
                            <input type="text" class="form-control" placeholder="Ghi chú">
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-4">
                            <label>Xử lý khác <span>*</span></label>
                            <select class="form-control input-sm selec_dbdn">
                                <option value="10">Xứ lý khác</option>
                                <option value="25">Tạm thu hồi</option>
                                <option value="50">Tạm tịch thu</option>
                            </select>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-8">
                            <label>Ghi chú</label>
                            <input type="text" class="form-control" placeholder="Ghi chú">
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 form-control_bottom"><label class="form-control_bottom margin_left_right_new_col"><input type="checkbox"> Đình chỉ hoạt động</label></div>
                        <div class="col-sx-12 col-sm-6 col-md-6 form-control_bottom"><label class="form-control_bottom margin_left_right_new_col"><input type="checkbox"> Tước quyền sử dụng</label></div>
                        <div class="col-sx-12 col-sm-12 col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Ghi chú tước quyền sử dụng"></textarea>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Tóm tắt sai phạm phát hiện nếu có"></textarea>
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-12 form-control_bottom"><label class="form-control_bottom margin_left_right_new_col" style="font-weight: normal; font-size: 13px"><input type="checkbox"> Thêm vào danh sách quan tâm với doanh nghiệp có dấu hiệu vị phạm</label></div>
                        <div class="col-sx-12 col-sm-12 col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Ghi chú"></textarea>
                        </div>
                        <div class="row button_width_full">
                            <button type="button" class="btn btn-outline btn-primary" id="btnSaveForm">Lưu</button>
                            <button type="button" class="btn btn-outline btn-success" id="btnSaveAndNewForm">Lưu &amp; thêm mới</button>
                            <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Thoát</button>
                        </div>
                    </div>

                </div>
                <div class="row button_width_full"></div>



            </div>

            </div>
        </div>
    </div>
</div>
