@section script{
}
@{
    ViewBag.Title = "Hồ sơ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="panel-default">
    <div class="panel-heading">
        <div class="h3">Hồ sơ nhân viên</div>
    </div>

    <div class="panel-body">
        <div class="row ">
            
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Mã nhân viên
                    <div class="input-sm">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Tên nhân viên
                    <div class="input-sm">

                    </div>
                </div>
            
        </div>
    </div>

</div>



