
<div id="modalAddEdit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content disable_height_min_noboder">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Đóng">&times;</button>
                <h4 class="modal-title" id="title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form id="frmSave">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">

                                <!-- /.panel-heading -->
                                <div class="panel-body class_new_add_align">
                                    <div class="dataTable_wrapper scroll_fix_new">
                                        <div class="row custom_style_fiel_new custom_style_input_lable">
                                            <div class="margin_auto_center_500 margin_top_form_new form-group">
                                                <div class="col-sx-12 col-sm-12 col-md-12">
                                                    <label>Mã nhóm <span>*</span></label>
                                                    <input class="form-control" type="text" placeholder="Mã nhóm">
                                                </div>
                                                <div class="col-sx-12 col-sm-12 col-md-12">
                                                    <label>Tên nhóm <span>*</span></label>
                                                    <input class="form-control" type="text" placeholder="Tên nhóm">
                                                </div>
                                                <div class="col-sx-12 col-sm-12 col-md-12">
                                                    <label>Ghi chú</label>
                                                    <textarea class="form-control" rows="3" placeholder="Ghi chú"></textarea>
                                                </div>
                                                <div class="col-sx-12 col-sm-12 col-md-12">
                                                    <label><input type="checkbox"> Sử dụng</label>
                                                </div>
                                                <div class="row button_width_full">
                                                    <button type="button" class="btn btn-outline btn-primary" data-toggle="tooltip" title="Lưu dữ liệu">Lưu</button>
                                                    <button type="button" class="btn btn-outline btn-success" data-toggle="tooltip" title="Lưu và thêm mới dữ liệu">Lưu và thêm</button>
                                                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal" data-toggle="tooltip" title="Đóng cửa sổ">Thoát</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.table-responsive -->

                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>